body{
background-color: rgb(228, 136, 17);
margin-left:20%;
}

h1{
    background-color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 40%;
}

h2{
    background-color: rgb(50, 190, 190);
    font-size: medium;
}
img{
    width: 300px;
    height: 350x;
}